[alias]
aa = add -A
abort = rebase --abort
amend = commit --amend
br = branch
cbr = checkout -b
ci = commit
co = checkout
cont = rebase --continue
dbr = branch -D
hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue[%an]%Creset' --abbrev-commit --date=relative
save = !git add -A && git commit -m 'SAVEPOINT'
st = status
staged = diff --cached

ps = push
pl = pull
prune-all = !git remote | xargs -n 1 git remote prune

undo = reset --soft HEAD~1
unstage = reset .

[core]
editor = code --wait
excludesfile = ~/.gitignore_global
